<!DOCTYPE html>
<html>
<body>

<div class="container">
  <section>
    <h2>Movie table</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Genre</th>
          <th>Production</th>
          <th>Director</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="movie in data.movies" ng-click="setEditedMovie(movie)">
          <td>{{movie.title}}</td>
          <td>{{movie.year}}</td>
          <td>{{movie.genre}}</td>
          <td>{{movie.production}}</td>
          <td>{{movie.director}}</td>
          <td>{{movie.score}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-default glyphicon glyphicon-plus-sign" ng-click="addMovieModal()"> Add </button>
    <button class="btn btn-default"  ng-click="editMovieModal()" ng-disabled = "!isAnyMovieSelectedToEdit()"> Edit <b>{{editedMovie.title}}</b></button>
  </section>
</div>

</body>
</html>
